p {
  font-family: Lato;
  font-style: italic;
}
body{
  background-image: linear-gradient(to bottom right, rgb(226, 182, 255),  rgb(150, 181, 255));
  margin: 10%;
  padding: 3%;
  border-radius: 4%;
  height: 350px;
}
.formbody{
  margin: 15%;
  border-radius: 4%;
  padding: 5%;
  background-color: rgb(220, 220, 255);
  opacity: 80%;
}
